body {
  font-family: 'Muli', sans-serif;
}

.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: rgb(22, 38, 48);
}

a{
  color: black;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
}