.ResultsTable{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.info{
    text-align: center;
}

.results{
    border: 1px solid #ddd;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 35px;
}

.ResultsTable table{
    table-layout: fixed;
    border-collapse: collapse;
    display: block;
    overflow-y: scroll;
    height: 50vh;
}
  

.ResultsTable th{
    position: sticky;
    top: 0;
    background-color: #F9FAFB;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    margin-bottom:0;
    margin-top:0;
}

.ResultsTable td{
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    width: 10%;
}

.ResultsTable td:first-child {
    border-left: none;
}

.ResultsTable td:last-child {
    border-right: none;
}

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(170, 170, 170);
}

.unsafe{
    background-color: rgb(247, 225, 217);
}

.button {
    outline: none;
    height: 40px;
    width: 50%;
    border-radius: 40px;
    font-weight: 700;
    border: 2px solid rgb(87, 168, 190);
    background: white;
    color: rgb(87, 168, 190);
    letter-spacing: 1px;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button:hover{
    color: white;
    background: rgb(87, 168, 190);
}