.HomePage{
    width: 90%;
    margin-top: 15vh;
    margin-bottom: 10vh;
    background-color: white;
    -webkit-box-shadow: 0px 33px 17px -22px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 33px 17px -22px rgba(0,0,0,0.56);
    box-shadow: 0px 33px 17px -22px rgba(0,0,0,0.56);
    padding-bottom: 7%;
    max-width: 900px;
}

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(170, 170, 170);
}