<%- include ('partials/header') %>

<form action="http://localhost:3000/ingrs" method="POST">
    <div>
        <label for="request">Ingredients to Search?</label>
        <input name="request" id="request">
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>

<% names.forEach(function(el) { %>
    <table style="width:100%;border:1px solid black">
        <tr>
            <th>Ingredient Name</th>
            <th>cosDNA</th>
            <th>INCIdecoder</th>
            <th>Vegan</th>
        </tr>
        <tr>
            <td><%= el %></td>
    </table>
<% }) %>

<%- include ('partials/footer') %>