.Header {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 2%;
    margin-top: 5%;
}

.Header h1{
    font-size:30px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 0;
}

.Header a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
    transition: 0.4s;
    font-size: 12px;
}